In [1]:
import pandas as pd
import numpy as np
import os

In [4]:
#Load the dataset
dataset = pd.read_csv('file1.csv')

In [5]:
# lets take a look at the data
dataset.head()

   Unnamed: 0  time  score          label
0           0    24      4         threat
1           1    16      5         threat
2           2    15      1         threat
3           3    24      5         threat
4           4    22     10  medium_threat

In [6]:
dataset.describe()

        Unnamed: 0         time        score
count  3083.000000  3083.000000  3083.000000
mean   1541.000000    25.144989     5.090496
std     890.129766    14.268836     3.215379
min       0.000000     1.000000     0.000000
25%     770.500000    13.000000     2.000000
50%    1541.000000    25.000000     5.000000
75%    2311.500000    37.000000     8.000000
max    3082.000000    50.000000    10.000000

In [7]:
# lets look at the column with null values
label_nan = dataset.label.isnull().sum()
pct = (label_nan/dataset.shape[0]) * 100
print('The percentage of the missing values in the label column: {}%'. format(pct))

The percentage of the missing values in the label column: 0.0%